Q1. Create a dictionary called student with keys: name, age, course, city. Print each value.

In [4]:
students = {
    'Name': 'Yousuf',
    'Age': 15,
    'Course': 'Computer',
    'City': 'Karachi'
 }

In [18]:
print(students)

print(students['Name'])
print(students['Age'])
print(students['Course'])
print(students['City'])

{'Name': 'Yousuf', 'Age': 15, 'Course': 'Computer', 'City': 'Karachi'}
Yousuf
15
Computer
Karachi

Q2.

In [13]:
car = {
    'Brand': 'Toyota',
    'Model': 'Corolla',
    'Year': '2018'
}

In [17]:
car ['Color'] = 'White'
car ['Year'] = '2022'

print(car)

{'Brand': 'Toyota', 'Model': 'Corolla', 'Year': '2022', 'Color': 'White'}

Q3.

In [28]:
person = {
    "Name": "Ali",
    "Age": 25,
    "City": "Karachi"
}

In [29]:
for key, value in person.items():
    print(f"{key}: {value}")

Name: Ali
Age: 25
City: Karachi

Q4.

In [1]:
numbers = [1,2,2,3,3,3,4,4,4,4]

freq = {num: numbers.count(num) for num in numbers}

print(freq)

{1: 1, 2: 2, 3: 3, 4: 4}